/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sankofa+Display&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*Variables*/
:root{
    --font_titulos: "Source Code Pro", monospace;
    --font_encriptada: "Sankofa Display", sans-serif;
    --font_textos: "Poppins", sans-serif;

    --color_primario: #1e2a65;
    --color_secundario: #AF47D2;
    --color_terciario: #FF8F00;
    --color_cuaternario: #FFDB00;
    --color_sombras: #15F5BA;
}

/*Reset*/
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: rgb(5,10,36);
    background: radial-gradient(circle, var(--color_primario) 5%, rgba(5,10,36,1) 100%);
    display: flex;
    flex-direction: column;
}

/*
item 1 de body (header)
*/
.header__class{
    height: 10vh;
    padding: 3% 0% 0% 4%;
}

.titulo{
    display: flex;
    align-items: baseline;
    gap: 20px;
    font-family: var(--font_titulos);
    font-size: 2rem;
    color: var(--color_secundario);
}

/*
item 2 de body (main)
    -reglas, input, botones
    -respuesta, copiar
*/
.main__class{
    height: 85vh;
    display: flex;
}

.seccion__izquierda{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: var(--font_textos);
    font-weight: 300;
    font-size: 1rem;
    color: var(--color_terciario);
    margin: 10% 2%;
}

.seccion__lista{
    font-size: 0.75rem;
}

.textoUsuario{
    width: 75%;
    height: 25%;
    background-color: #26355D;
    color: white;
    padding: 2%;
    resize: none;
    font-family: var(--font_textos);
}

.seccion__botones{
    display: flex;
    gap: 24px;
}

.botones{
    border-radius: 20px;
    background-color: var(--color_secundario);
    color:white;
    height: 50px;
    width: 200px;
    font-family: var(--font_textos);
    cursor: pointer;
}

.botones:hover{
    box-shadow: 0px 0px 10px 2px var(--color_sombras);
}

.seccion__derecha{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.308);
    margin: 2% 5%;
}

.respuestaAUsuario{
    width: 75%;
    height: 25%;
    color: white;
    padding: 2%;
    resize: none;
    font-family: var(--font_textos);
    flex: 1 1 auto;
}

#btn_copiar{
    margin: 0 0 5% 0;
}

/*item 3 de body (footer)*/
footer {
    height: 5vh;
    background-color: var(--color_cuaternario);
    text-align: center;
    padding: 15px 0;
}

/*Media Queri*/